.button
{
    background-color: #A09E9E;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

    .button.small
    {
        border-radius: 15px;
        float: right;
        margin: 22px 5px 0;
        padding: 6px 15px;
    }

    .button:hover
    {
        background-color: #1e1e1e;
    }

    .button > span
    {
        font-size: 84%;
    }

    .button.b-close, .button.bClose
    {
        border-radius: 7px 7px 7px 7px;
        box-shadow: none;
        font: bold 131% sans-serif;
        padding: 0 6px 2px;
        position: absolute;
        right: -7px;
        top: -7px;
    }

.example
{
    display: block;
    line-height: 1.25;
    padding: 30px 110px 15px 0;
}

.code-undefined
{
    color: #617a61;
}

.code-string
{
    color: #fa8072;
}

#popup, #popup2, .bMulti
{
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    display: none;
    min-width: 250px;
    padding: 25px;
}

    #popup .logo
    {
        color: #2b91af;
        font: bold 325% 'Petrona',sans;
    }

#popup, .bMulti
{
    min-height: 120px;
}

#popup2 iframe
{
    background: url('loader.gif') center center no-repeat;
    min-height: 120px;
    min-width: 250px;
}

.loading
{
    background: url('loader.gif') center center no-repeat;
}

.bMulti p
{
    font: 500% 'Petrona',sans-serif;
    padding: 45px 0 0;
    text-align: center;
}

.bMulti a
{
    left: 175px;
    position: absolute;
    top: 175px;
}

.mainPopBg
{
    /*background-color: #006680 !important;*/
    height: 370px;
    width: 370px;
    left: 32%;
    position: absolute;
    top: 499.5px;
    z-index: 9999;
    opacity: 0;
}
.prtySpanInPopup
{
    color: #006680;font-size: 19px;line-height: 0;
}
.prtyOwnerName
{
    color: #353535;font-size: 19px;line-height: 0;
}
/*
.lt-ie9 .bModal
{
    background-color: #000;
}
*/
