@{
    Layout = "~/Views/Shared/_LayoutPageSpecific.cshtml";
    ViewBag.Title = "Servizee | Privacy-Policies";
}

<div class="container-fluid contact" id="aboutus">
    <div class="container" style="margin-top:60px;">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center heading-text">Privacy Policies</h2>
                @*<div class="col-md-6 col-sm-12 col-xs-12 about-img"> <img src="@Url.Content("~/Content/images/about_img.png")" /> </div>*@
                @*<div class="col-md-6 col-sm-12 col-xs-12 about-contant">*@
                <div class="col-md-12 col-sm-12 col-xs-12 about-contant">
                    <p style="font-size:14pt;">
                        Customers are requested that give certain information when they agree to our Services, for example, name, address, phone number, billing information and the kind of PC being utilized to get to the Services. <br />
                        <br />
                        The individual data gathered from Members amid the enlistment procedure is utilized to deal with each Member’s record, (for example, Billing and Payment Collections). We utilize our information to get in touch with you in various ways. We might send you offer through email, telephone or standard mail of Servizee.com services and administrations. <br />
                        <br />
                        We store your data in a safe location. While we urge you to take the leverage of Servizee.com services, as you can utilize the vast majority of our services without enrolling your information with us. You can change your information whenever by altering your profile in Servizee.com.  <br />
                        <br />
                        We won't reveal any of your by and by identifiable data to outsiders or third parties unless we have your consent, exceptional circumstances, for example, consistence with lawful powers, which requires disclosure. We won't utilize your financial info for any reason other than to finish a service transaction with you.To secure against the loss, misuse and modification of the info under our control, we have set up proper physical, electronic and administrative methodologies. <br />
                        <br />
                        By utilizing this site, you concur that we will have no risk for divulgence of your information because of blunders in transmission or unapproved demonstrations of third parties. Security for all by and by identifiable data is critical to us. Unfortunately, no information transmission over the Internet can be ensured to be 100% secure. Therefore, while we endeavor to protect your private information, Servizee.com can't guarantee or warrant the security of any data you transmit to us or from our online services, and you do as such at your own risk. When we get your transmission, we attempt to guarantee its security on our frameworks.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid countspace" id="contactus">
    <div class="container">
        <div class="row">
            <div class="col-md-12 contact-div">
                <!--<h2 class="text-center heading-text">Contact us</h2>-->
                <div class="col-sm-6 contact-div-left">
                    <h4>About</h4>
                    <ul class="footer-menu">

                        <li><a href="/Home/Services">Services</a></li>
                        <li><a href="/Home/FAQ">FAQs</a></li>
                        <li><a href="/Home/Policies">Privacy Policy</a></li>
                        <li><a href="/Home/Terms">Terms of Use</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 contact-div-right">
                    <h4>Contact Us</h4>
                    <p><i class="fa fa-map-marker"></i>&nbsp; 110 Onam Plaza, Industry House, AB Road (Indore) </p>
                    <p><i class="fa fa-phone"></i>&nbsp; +91-756-666-6022 </p>
                    <p><i class="fa fa-envelope"></i>&nbsp; Info@servizee.com </p>
                </div>
            </div>
        </div>
    </div>
</div>