@{
    Layout = "~/Views/Shared/_LayoutPageSpecific.cshtml";
    ViewBag.Title = "Online Kaarigar | Terms And Conditions";
}

<div class="container-fluid contact" id="aboutus">
    <div class="container" style="margin-top:60px;">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center heading-text">Terms & Conditions</h2>
                @*<div class="col-md-6 col-sm-12 col-xs-12 about-img"> <img src="@Url.Content("~/Content/images/about_img.png")" /> </div>*@
                @*<div class="col-md-6 col-sm-12 col-xs-12 about-contant">*@
                <div class="col-md-12 col-sm-12 col-xs-12 about-contant">
                    <p style="padding-bottom:195px;font-size:14pt;">
                        <b>GENERAL</b><br /><br />
                        The Terms of Use was last update on :11-042016. This Terms of Use agreement is effective as: ___________________<br /><br />
                        Welcome to <b>Servizee</b>. You may use our services through our website www.SERVIZEE.com (“Website”) or our mobile application (“Servizee App”). Our Website and Servizee APP been created to provide information about our company and services to the visitors and user of services, whether accessible to you via web, mobile App or other platform (our services, together with the Site, are the "Services") <br /><br />
                        For the purpose of these Terms of Use, the term 'Servizee' or 'Us' or 'We' refers to Servizee (“the Company”). The term 'You' refers to the user or viewer of our Website and/or Servizee APP.<br /><br />
                        When You use any of the Services provided by Us, including but not limited to, Electrical, Plumbing, Computer Repair, Laundry, Carpentry etc, you will be subject to the rules, guidelines, policies, terms, and conditions applicable to such service, and they shall be deemed to be incorporated into this Terms of Use and shall be considered as part and parcel of these Terms of Use. As long as you comply with these Terms of Use, We grant you a personal, non-exclusive, non-transferable, limited privilege to enter and use our platforms. In the event of a conflict or inconsistency between any provision of the terms and conditions mentioned herein. <br /><br />
                        The following terms of use (“Terms of Use”) constitutes a binding legal agreement between <b>Servizee Private Limited (Owner of Servizee)(“SERVIZEE”) </b>and the User(“you/your”) with respect to your use of services provided by <b>SERVIZEE</b> (“Services”) which are available at www.servizee.com (“Website”) or our mobile application (“Servizee APP”). By using the Services described/available on the Website and Servizee App, you acknowledge and agree to these Terms of Use and Privacy Policy (“Policy”), a copy of which is available at (www.servizee.com/privacypolicy), which are incorporated herein by reference. <br /><br />
                        You specifically represent and warrant that you are at least 18 years of age and are of sound mind capable of entering into a binding contract as per applicable law, including, in particular, the Indian Contract Act, 1872 and have the right, authority, and capacity to accept these Terms of Use and to abide by the same.<br /><br />
                        <b>ACCEPTANCE OF TERMS</b><br />
                         <br />
                        &nbsp;<b>•</b> <b>PLEASE READ THE TERMS OF USE THOROUGHLY AND CAREFULLY</b>. These Terms of Use set forth legally binding terms for your use of our Platforms. By using, visit, accessing our platforms, you agree to be bound by this Terms of Use, whether you are a “Visitor” (which means that you simply browse our Platforms) or you are a “Subscriber” (which means that you have registered with SERVIZEE as a user). If you do not accept the Terms of Use, you should leave the Website and/or Servizee App and discontinue use of the Service immediately.<br />
                        <br />
                        You acknowledge that the Website serves as a venue for online distribution and publication of user submitted information between service professionals and service users, and, by using, visiting, registering for, and/or, otherwise participating in this website, including the services presented, promoted and displayed on the website and by clicking on “I have read and agree to the terms of use”, you hereby certify that <br />
                        &nbsp;&nbsp;  1.You are either a service professional or a prospective service user <br />
                        &nbsp;&nbsp;  2.You have a authority to enter into these terms of use<br />
                        &nbsp;&nbsp;   3.You authorize the transfer of payment for services requested through the use of this website <br />
                        &nbsp;&nbsp;   4.You agree to be bound by all terms and conditions of these terms of use and any other document incorporated by&nbsp;&nbsp;&nbsp; reference<br />
                        If you do not do so agree to the foregoing, you should not click to affirm your acceptance thereof, in which case you are prohibited from accessing or using the website. If you do not agree to any of the provisions set forth in the Terms of use, kindly discontinue viewing or participating the website immediately.  <br /><br />
                        <b>MODIFICATION TO TERMS OF USE AND/OR PRIVACY POLICY</b><br /><br />
                        &nbsp;<b>•</b> Servizee reserves this right, in its sole discretion, to modify /amend these Terms    of use and any other document incorporated by reference herein from time to time, for complying with legal and regulatory framework and such modification shall be effective upon its posting on our platforms. It is your responsibility to review Terms of use for any changes and you are encouraged to check the Terms of Use frequently. You agree to be bound by any modification to this Agreement when you use our Website and Servizee App after any such modification is posted; it is therefore important that you review the Terms of Use regularly.<br /><br />
                        <b>PRIVACY POLICY</b><br /><br />
                        &nbsp;• Servizee has established a Privacy Policy that explains to users how their information is collected and used. Any personal information you supply to us when You use this Website/App or the Services will be used in accordance with Our Privacy Policy.<br /><br />
                        <b>REGISTRATION COMPLIANCES</b><br />
                        <br />
                        &nbsp;<b>• </b>In consideration of your use of our platforms, you represent that you are of legal age (18 years and above) to form a binding contract and are not a person barred from receiving services under any law in force in India or other applicable jurisdiction. <br />
                        You also agree to:<br /><br />
                        &nbsp;&nbsp;&nbsp;1.Provide true, accurate, current and complete information about yourself while registering on our Website and Servizee App<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AppName to avail the Services.<br />
                        &nbsp;&nbsp;&nbsp;2.Maintain and promptly update your Registration Data to keep it true, accurate, current and complete. <br /><br />
                        <b>•</b>If you provide any information that is untrue, inaccurate, not current or incomplete, or we have reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, We reserve the right to suspend or terminate your account and refuse any and all current or future use of our Website and Servizee App (or any portion thereof) at any time. Servizee will not be liable for any act or omission arising from the inaccurate information provided by You to Us.<br /><br />
                        <b>•</b>You may access our Website and Servizee App as available:<br /><br />
                        &nbsp;&nbsp;&nbsp;<b>•</b>for your information and personal use;<br />
                        &nbsp;&nbsp;&nbsp;<b>•</b>as intended through the normal functionality of Servizee.<br /><br />
                        <b>•</b>You will be required to enter a valid phone number while registering on our Website and Servizee AppName as a subscriber. By registering your phone number with us, you consent to be contacted by us via phone calls and/or SMS notifications, in case of any subscription/service updates. If we do so, you will be provided the option to "opt-out" of receiving future communications. In addition, if at any time you wish not to receive any future communications or you wish to have your name deleted from our mailing lists, please contact us as indicated below. If you are registered with the DND National registry you may not receive any promotional messages from us.( If you are having this policy in registration otherwise delete it)<br /><br />
                        <b>•</b>You are solely responsible for safeguarding your Servizee password and shall keep your passwords secure at all times. You shall be solely responsible for all activity that occurs on your account and shall notify Servizee immediately of any breach of security or any unauthorized use of your account. Similarly, you shall never use another’s account without Servizee’s permission. You agree that you will not misrepresent yourself or represent yourself as another user of the Website and/or the services offered <br />
                        <b>•</b>You hereby expressly acknowledge and agree that you yourself and not Servizee will be liable for your losses, damages etc. (Whether direct or indirect) caused by unauthorized use of your account. Nothing withstanding the foregoing, you may be liable for the losses of Servizee or others due to such unauthorized use.<br />
                        An Account holder is sometimes referred herein as “Registered User”. <br /><br />
                        You acknowledge and agree that you shall comply with following policies (“the account policies”)<br /><br />
                        &nbsp;&nbsp;&nbsp;1.You will not copy or distribute any part of the website in any medium without Servizee written permission. <br />
                        &nbsp;&nbsp;&nbsp;2.You will not alter or modify any part of the website other than as may be reasonably necessary to use the website for its intended purpose.<br />
                        &nbsp;&nbsp;&nbsp;3.You will provide true, accurate, current and complete information when creating you account and you shall maintain and update such information during the term of this agreement so that it will remain accurate, true, current and complete. <br />
                        &nbsp;&nbsp;&nbsp;4.You shall not use any automated system, to access the website for any purpose without Servizee written permission. <br />
                        &nbsp;&nbsp;&nbsp;5.You shall not in any manual or automated manner collect Service Professionals or Service Users information, including but not limited to, names, addresses, phone numbers, or email addresses, copying copyrighted text, or otherwise misuse or misappropriate Website information or content, including but not limited to, use on a "mirrored", competitive, or third party site.<br />
                        &nbsp;&nbsp;&nbsp;6.You shall not recruit, solicit, or contact in any form Service Professionals or Service Users for employment or contracting for a business not affiliated with Servizee without express written permission from Servizee<br /><br /><br />
                        <b>ADDITIONAL POLICIES</b><br /><br />
                        Your access to, use of, and participation in the Website is subject to the Terms of Use and all applicable Servizee regulations, guidelines and additional policies that Servizee may set forth from time to time, including without limitation, a copyright policy and any other restrictions or limitations that Servizee publishes on the Website (the"Additional Policies"). You hereby agree to comply with the Additional Policies and your obligations thereunder at all times. You hereby acknowledge and agree that if you fail to adhere to any of the terms and conditions of this Agreement or documents referenced herein, including the Account Policies, membership eligibility criteria or Additional Policies, Servizee, in its sole discretion, may terminate your Account at any time without prior notice to you as well as initiate appropriate legal proceedings, if necessary.<br /><br />
                        <b>SETS OF LAWS FOR SERVICE PROFESSIONALS </b><br /><br />
                        <b>PROFILES AND OFFERS</b>
                        <br />
                        <br />
                        Subject to any exceptions set forth in these Terms of Use or Additional Policies, if any, Service Professionals shallnot:
                        <br />
                        (a) list Services or offers relating to any Service in a category that is inappropriate to the Service they areoffering
                        <br />
                        (b) Misrepresent the location at which they will provide a Service
                        <br />
                        (c) Include brand names or otherinappropriate keywords in their Profile, Offer, Want, Feedback, or any other title or description relating to a Service;
                        <br />
                        (d) Use misleading titles that do not accurately describe the Service
                        <br />
                        (e) Include any information in their Profile thatis fraudulent.
                        <br />
                        <br />
                        <b>PROFILES AND OFFERS CANNOT USE TECQNIQUE TO AVOID SERVIZEE FEES </b> 
                        <br />
                        Subject to any exceptions set forth in these Terms of Use or Additional Policies, if any, Service Professionals shallnot:
                        <br />
                        (a) offer a catalog or a link to a third-party website from which Service Users or any Registered User or user ofthe Website may obtain the Service directly;
                        <br />
                        (b) exceed multiple Posting limits
                        <br />
                        (c) post a single Service but offeradditional identical services in the Service description; (d) charge fees for traveling further than desired to providethe Service;
                        <br />
                        (e) offer the opportunity through Servizee to purchase the Service or any other service outside ofServizee
                        <br />
                        (f) use their Profile page or user name to promote services not offered on or through the Website and/orprohibited services.
                        <br />
                        <b><u>In case we realize that any professional is involved in any of the above activities, Servizee holds the sole discretion to blacklist the professional and withhold any outstanding credits or payments to the professional.</u></b>
                        <br />
                        <br />
                        <b>PROFILES AND OFFERS MUST PROMOTE FAIR PLAYING </b>
                        <br />
                        Subject to any exceptions set forth in these Terms of Use or Additional Policies, if any,Service Professionals shall not:
                        <br />
                         (a) solicit Service Users to mail cash or use otherpayment methods not specifically permitted by Servizee as approved payment methods;
                        <br />
                        (b) include links that do not conform to Servizee’spolicies with respect to third-partylinks; 
                        <br />
                        (c) use certain types of HTML and JavaScript in Postings, your Profile page, yourOffer page, or your Wants page; 
                        <br />
                        (d) promote raffles, prizes, bonuses, games of chance,give a ways, or random drawings; 
                        <br />
                        (e) use profanity in any Posting
                        <br />
                        (f) acknowledge orcredit a third-party service professional for services or products directly connected withyour particular Posting
                        <br />
                         (g) includethird-party endorsements in a Posting; 
                        <br />
                        (h) create a Posting that does not offer aService; or
                        <br />
                        i) provide a safe, simple, and positive experience for all website users
                        <br />
                        <br />
                        <b>SANCTIONS FOR VIOLATING ANY OF THE RULES FOR SERVICE PROFESSIONALS</b>
                        <br />
                        <br />
                        If a Service Professional violates any of the above-referenced rules in connection with his or her Posting,Servizee, in its sole discretion, may take any of the following actions: (a) cancel the Posting; 
                        <br />
                        (b) limit the Service Professional's Account privileges; 
                        <br />
                        (c) suspend the Service Professional's Account; 
                        <br />
                        (d) cause the Service  Professional to forfeit any fees earned on a cancelled Posting; and/or decrease the Service Professional's status earned via the Feedback page.
                        <br />
                        <br />
                        <b><u>SET OF LAWS FOR SERVICE USERS </u></b>
                        <br />
                        <b>SERVICE USERS SHALL NOT TAKE ANY OF THE FOLLOWING ACTIONS:</b>
                        <br />
                        <br />
                        a) commit to purchasing or using a Service without paying; 
                        <br />
                        (b) sign up for, negotiate a price for, use, or otherwise solicit a Service with no intention of following through with your use of or payment for the Service;
                        <br />
                        (c) agree to purchase a Service when you do not meet the Service Professional's terms as outlined in the Posting, or agree to purchase a Service with the intention of disrupting a Posting; or 
                        <br />
                        (d) misuse any options made available now or in the future by Servizee in connection with the use or purchase of any Service.
                        <br />
                        <br />
                        <b>SANCTIONS FOR VIOLATING ANY OF THE RULES FOR SERVICE USERS</b>
                        <br />
                        If a Service User violates any of the above-referenced rules in connection with his or her Posting, Servizeein its sole discretion, may take any of the following actions:
                        <br />
                        (a) cancel the Posting;
                        <br />
                        (b) limit the Service User's Accountprivileges;
                        <br />
                        (c) suspend the Service User's Account; and/or 
                        <br />
                        (d) decrease the Service User's status earned via theFeedback page.
                        <br />
                        <br />
                        <b><u>SERVIZEE FEES </u></b>
                        <br />
                        <br />
                        <b>FEES INCURRED BY SERVICE PROFESSIONALS</b>
                        <br />
                        Joining Servizee, opening an Account, posting Services and viewing posted Services is free. Servizee reserves the right at its sole discretion to charge fees to Service Professionals for other services that Servizee may provide in the future.
                        <br />
                        <br />
                        Servizee may also in certain categories require Service Professionals to make payments for following up on jobleads i.e. requests posted by Service Users, and permitting the Service Professional to contact the Service User(“Lead Fee”) irrespective of whether the job leads eventually result in a transaction or exchange of consideration forthe service requested. In order to be eligible to make such Lead Fee payment, Service Professionals shall berequired to make advance payments (“Credits”) from which the Lead Fee may be deducted as and when necessary.
                        <br />
                        Whenever the Credits fall below the prescribed threshold, the Service Professional shall be prompted to refill theCredits in order to continue enjoying the ability to follow up on leads and contacting Service Users.
                        In the event, (i) the job lead is identified to be non-genuine, or (ii) the Service User within 48 hours of posting arequest on the Website withdraws the same by way of the Website or the mobile application only, or (iii) the ServiceProfessional pays the Lead Fee to respond to the Service User’s request for service but the Service User does notopen or access the Service Professional’s response, the Lead Fee shall be reimbursed to the Service Professional.
                        <br />
                        <b><u>The decision of Servizee pertaining to the above shall be final and binding.Servizee reservesthe right to charge fees for these services at its sole discretion.</u></b>
                        <br />
                        <br />
                        <b>FEES INCURRED BY SERVICE USERS </b>
                        <br />
                        <br />
                        Joining Servizee, opening an Account, viewing posted Services, and bidding on posted Services is free. Servizeecurrently does not charge Service Users for transactions completed on the Website between Service Users andServices Professionals. However, Servizee reserves the right to charge a fee to Service Users in the future on aper-transaction basis or in any other manner, and reserves the right to do so in its sole discretion. Changes to thisFee Policy are effective after Servizee has provided you with thirty (30) days' notice by posting the changes on theWebsite.
                        <br />
                        <br />
                        If applicable, you agree to pay all fees or charges to your Account based on Servizee’s fees, charges, and billing terms then in effect. If you do not pay on time or if Servizee cannot charge your credit card, any payment gateway or other payment method for any reason, Servizee reserves the right to either suspend or terminate your access to the Website and Account and terminate these Terms of Use. You are expressly agreeing that Servizee is permittedto bill you for the applicable fees, any applicable tax and any other charges you may incur in connection with your use of this Website and the fees will be billed to your credit card, a payment gateway or other payment method designated at the time you make a purchase or register for a fee-based service. If you cancel your Account at any time, you will not receive any refund. If you have a balance due on any account, you agree that Servizee may charge such unpaid fees to your credit card or otherwise bill you for such unpaid fees. Servizee reserves its right to initiate appropriate legal proceedings, if necessary, in its sole discretion, to recover such outstanding amounts.
                        <br />
                        <br />
                        <b>TAXES</b>
                        <br />
                        <br />
                        You understand that we are acting solely as an intermediary for the collection of rents and fees between a Service User and a Service Professional who choose to enter into an Agreement for Service. Because state and local tax laws vary significantly by locality, you understand and agree that you are solely responsible for determining your own tax reporting requirements in consultation with tax advisors, and that we cannot and do not offer tax advice to either hosts or guests. Further, you understand that Servizee shall not be responsible or liable in any manner in relation to tax liability of a Service User or a Service Professional.
                        <br />
                        <br />
                        <b>REFUND POLICY</b>
                        <br />
                        <br />
                        All commissions payable to Servizee by Service Professionals on consummated transactions, i.e. exchange ofservices for consideration, are final and non-refundable.
                        All money paid by Service Professionals in form of “Credits” are non-interest bearing and shall be refunded to theService Professionals if they remain un-utilised for a period greater than 364 days only. Such amounts shall not berefunded prior to that.
                        If poor customer service or inappropriate behaviour with customers results in the professional being de-listed fromthe ServizeePartner platform, then all credits (purchased or promotional) will have to forfeited, and there will be norefund made in such a case.
                        <br />
                        <br />
                        <b><u>TERMINATION AND SUSPENSION</u></b>
                        <br />
                        <br />
                        <b>TERMINATION BY SERVIZEE</b>
                        <br />
                        <br />
                        •	You hereby acknowledge and agree that Servizee, in its sole discretion, has the right ( but not the obligation) may at any time terminate, delete or deactivate your account access to the Srvizee App or Servizee.com or restrict or suspend your account access to all or any part of the Website or the App at any time, or remove and discard any submitted content on the Website(“Termination of Service”) for any or no reason, with or without prior notice, and without any liability.
                        <br />
                        •	Servizee shall be entitled at any time without giving any reason to terminate the booking of services done by you.
                        <br />
                        <br />
                        <b>TERMINATION BY YOU</b>
                        <br />
                        <br />
                        You may cancel your use of the website and/or terminate the terms of use with or without cause at any time by following link in your account under _______________ to “Deactivate Account”.
                        <br />
                        <b>EFFECT OF TERMINATION</b>
                        <br />
                        <br />
                        Upon termination of your Account, your right to participate in the Website, including, but not limited to, your right to offer or purchase Services and your right to receive any fees or compensation, including, without limitation, referral discounts, incentive bonuses, or other special offer rewards, shall automatically terminate. You acknowledge and agree that your right to receive any fees or compensation hereunder is conditional upon your proper use of the Website, your adherence to the Terms of Use, the continuous activation of your Account, and your permitted participation in the Website. In the event of Termination of Service, your Account will be disabled and you may not be granted access to your Account or any files or other data contained in your Account. Notwithstanding the foregoing, residual data may remain in the Servizee system.
                        <br />
                        Unless Servizee has previously cancelled or terminated your use of the Website (in which case subsequent notice by Servizee shall not be required), if you provided a valid email address during registration, Servizee will notify you via email of any such termination or cancellation, which shall be effective immediately upon Servizee’sdelivery of such notice.
                        <br />
                        Upon Termination of Service, the following shall occur: all licenses granted to you hereunder will immediatelyterminate; and you shall promptly destroy all copies of Servizee Data, Marks and other content in your possession or control. You further acknowledge and agree that Servizee shall not be liable to you or any third party for any termination of your access to the Website. Upon Termination of Service, Servizee retains the right to use any data collected from your use of the Website for internal analysis and archival purposes, and all related licenses you have granted Servizee hereunder shall remain in effect for the foregoing purpose.
                        <br />
                        You agree to indemnify and hold Servizee, and its officers, managers, members, affiliates, successor, assigns, directors, agents, service professionals, suppliers, and employees harmless from any claim or demand, including reasonable attorneys' fees and court costs, made by any third party due to or arising out of the Termination of Service.
                        <br />
                        <br />
                        <b><u>DISCLOSURE</u></b>
                        •	You acknowledge, consent and agree that Servizee may access, preserve and disclose your account information and content if required to do so by law or in a good faith belief that such access, preservation or disclosure is reasonably necessary to: 
                        <br />
                        1.	comply with legal process nationally or internationally;<br /> 

                        2.	enforce these Terms of Use;<br />

                        3.	respond to claims that any Content violates the rights of third parties;<br />

                        4.	respond to your requests for customer service; <br />

                        5.	protect the rights, property or personal safety of Servizee, its subscribers and the public; or <br />

                        6.	Pursuant to the terms of the Privacy Policy.
                        <br />
                        <br />
                        <b><u>SECURITY COMPONENTS</u></b>
                        <br />
                        You understand that our servizee.com and servizee app and software embodied within the servizee.com and servizee app may include security components that permit digital materials to be protected, and that use of these materials is subject to usage rules set by Servizee and/or content providers who provide content to Servizee. You may not attempt to override, disable, circumvent or otherwise interfere with any such security components and usage rules embedded in our platforms. 
                        <br />
                        <br />
                        <b><u>COMPLIANCE WITH LAWS</u></b>
                        <br />
                        <br />
                        •	You agree that You shall not use the servizee and Website in order to host, display, upload, modify, publish, transmit, update, distribute, share, store or destroy material, including without limitation Servizee Content:
                        <br />
                        1.	in violation of any applicable law or regulation,<br />
                        2.	in a manner that will infringe the copyright, trademark, trade secret or other intellectual property or proprietary rights of others or violate the privacy, publicity or other personal rights of others,
                        <br />
                        3.	that belongs to another person and to which the user does not have any right to,
                        <br />
                        4.	that is grossly harmful, harassing, blasphemous, defamatory, obscene, pornographic, pedophilic, libelous, invasive of another’s privacy, threatening, abusive or hateful or racially, ethnically objectionable, disparaging, relating encouraging money laundering or gambling or otherwise unlawful in any manner whatsoever,
                       <br />
                        5.	harm minors in any way,
                        <br />
                        6.	deceives or misleads the addressee about the origin of such message or communicates any information which is grossly offensive or menacing in nature,
                       <br />
                        7.	impersonate another person or entity,
                        <br />
                        8.	contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of Servizee’s computer systems or site or Servizee’susers, customer’s computer systems or site,
                        <br />
                        9.	threatens the unity, integrity, defense, security or sovereignty of India, friendly relations with foreign states or of public order or causes incitement to the commission of any cognizable offence or prevents investigation of any offence or insulting any other nation.
                        <br />
                        <br />
                        <b><u>DISPUTE AND NEGOTIATION</u></b>
                        <br />
                        <br />
                        Each Registered User hereby acknowledges and agrees that Servizee is NOT a party to any oral or writtenAgreement for Service, or any contract entered into between Registered Users inconnection with any Service offered, directly or indirectly, through the Website. Each Registered Useracknowledges, agrees and understands that Servizee only seeks to provide a platform wherein the Service User and Service Professional can be brought together and Servizee itself has not role in the execution or provision of Services.
                        <br />
                        No agency, partnership, joint venture, or employment is created as a result of the Terms of Use or your use of any part of the Website, including without limitation, the Negotiation Worksheet or Agreement for Service. You do not have any authority whatsoever to bind Servizee in any respect. All Service Professionals are independent contractors. Neither Servizee nor any users of the Website may direct or control the day-to-day activities of the other, or create or assume any obligation on behalf of the other.
                        <br />
                        <b>NOTWITHSTANDING THE FOREGOING, YOU AGREE THAT SINCE SERVIZEE ONLY SEEKS TO PROVIDE A PLATFORM WHEREIN THE SERVICE USER AND SERVICE PROFESSIONAL CAN BE BROUGHT TOGETHER AND SERVIZEE ITSELF HAS NOT ROLE IN THE EXECUTION OR PROVISION OF SERVICES ITSELF, SERVIZEE SHALL NOT BE RESPONSIBLE OR LIABLE FOR ANY LOSS OR DAMAGE OF ANY SORT WHATSOEVER INCURRED AS THE RESULT OF ANY SUCH TRANSACTION OR DEALINGS. IF THERE IS A DISPUTE BETWEEN PARTICIPANTS ON THE WEBSITE, OR BETWEEN REGISTERED USERS OR ANY WEBSITE USER AND ANY THIRD PARTY, YOU ACKNOWLEDGE AND AGREE THAT SERVIZEE IS UNDER NO OBLIGATION TO BECOME INVOLVED. IN THE EVENT THAT A DISPUTE ARISES BETWEEN YOU AND ONE OR MORE WEBSITE USERS, REGISTERED USERS OR ANY THIRD PARTY, YOU HEREBY RELEASE SERVIZEE, ITS OFFICERS, MANAGERS, MEMBERS, DIRECTORS, EMPLOYEES, ATTORNEYS, AGENTS, AND SUCCESSORS IN RIGHTS FROM ANY CLAIMS, DEMANDS, AND DAMAGES (ACTUAL AND CONSEQUENTIAL) OF EVERY KIND OR NATURE, KNOWN OR UNKNOWN, SUSPECTED OR UNSUSPECTED, FORESEEABLE OR UNFORESEEABLE, DISCLOSED OR UNDISCLOSED, ARISING OUT OF OR IN ANY WAY RELATED TO SUCH DISPUTES AND/OR THE WEBSITE OR ANY SERVICE PROVIDED THEREUNDER.</b>
                        <br />
                        <br />
                        <b>DISPUTE RESOLUTION </b>
                        <br />
                        <br />
                        If a dispute arises between you and Servizee, our goal is to provide you with a neutral and cost effective means of resolving the dispute quickly. Accordingly, you and Servizee hereby agree that we will resolve any claim or controversy at law and equity that arises out of the Terms of Use or the Website or as we and you otherwise agree in writing. Before resorting to the filing of a formal lawsuit, we strongly encourage you to first contact us directly to seek a resolution via e-mail at info@servizee.com. The dispute shall be resolved through alternative dispute resolution procedures, such as mediation or arbitration, as alternatives to litigation. Any dispute or difference either in interpretation or otherwise, of any terms of this User Agreement between the parties hereto, the same shall be referred to an independent arbitrator who will be appointed by Servizee Private Limited and his decision shall be final and binding on the parties hereto.
                        <br />
                        <br />
                        <b><u>FORCE MAJEURE</u></b>
                        <br />
                        Without limiting the foregoing, under no circumstances shall Servizee be held liable for any damage or loss due to deficiency in performance of the Servizee Service resulting directly or indirectly from acts of nature, forces or causes beyond its reasonable control, including without limitation, Internet failures, computer equipment failures, telecommunication equipment failures, other equipment failures, electrical power failures.
                        <br />
                        <br />
                        <b><u>ADVERTISEMENTS </u></b>
                        <br />
                        <br />
                        Aspects of the Website and other Servizee services may be supported by advertising revenue. As such, Servizee may display advertisements and promotions on the service. The manner, mode and extent of advertising by Servizeeon the Website are subject to change and the appearance of advertisements on the Website does not necessarily imply endorsement by Servizee of any advertised products or services. You agree that Servizee shall not be responsible or liable for any loss or damage of any sort incurred by you as a result of any such dealings or as the result of the presence of such advertisers on the Website.
                        <br />
                        <br />
                        <b><u>GOVERNING LAW</u></b>
                        <br />
                        The Terms of Use shall be governed in all respects by the laws of India and any legal proceeding arising out of this agreement will occur exclusively in the courts located in Indore, Madhya Pradesh, India.
                        <br />
                        <br />
                        <b><u>WARRANTIES </u></b>
                        <br />
                        <br />
                        YOU AGREE THAT YOUR USE OF THE WEBSITE SHALL BE AT YOUR OWN RISK. TO THE FULLEST EXTENT PERMITTED BY LAW, AND SERVIZEE AND ITS OFFICERS, MANAGERS, MEMBERS, DIRECTORS, EMPLOYEES, SUCCESSORS, ASSIGNS, SUBSIDIARIES, AFFILIATES, SERVICE PROFESSIONALS, SUPPLIERS, AND AGENTS DISCLAIM ALL WARRANTIES, EXPRESS, IMPLIED, STATUTORY OR OTHERWISE, AND MAKE NO WARRANTIES, REPRESENTATIONS, OR GUARANTEES IN CONNECTION WITH THIS WEBSITE, THE SERVICES OFFERED ON OR THROUGH THIS WEBSITE, ANY DATA, MATERIALS, SUBMITTED CONTENT, RELATING TO THE QUALITY, SUITABILITY, TRUTH, ACCURACY OR COMPLETENESS OF ANY INFORMATION OR MATERIAL CONTAINED OR PRESENTED ON THIS WEBSITE, INCLUDING WITHOUT LIMITATION THEMATERIALS, DATA AND SUBMITTED CONTENT OF OTHER USES OF THIS SITE OR OTHER THIRD PARTIES.
                        UNLESS OTHERWISE EXPLICITLY STATED, TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW,THIS WEBSITE, THE SERVICES OFFERED ON OR THROUGH THIS WEBSITE, DATA, MATERIALS, SUBMITTEDCONTENT, AND ANY INFORMATION OR MATERIAL CONTAINED OR PRESENTED ON THIS WEBSITE ISPROVIDED TO YOU ON AN "AS IS," "AS AVAILABLE" AND "WHEREIS" BASIS WITH NO WARRANTY OF IMPLIEDWARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT OFTHIRD-PARTY RIGHTS. SERVIZEE DOES NOT PROVIDE ANY WARRANTIES AGAINST ERRORS, MISTAKES,OR INACCURACIES OF DATA, CONTENT, INFORMATION, MATERIALS, SUBSTANCE OF THE WEBSITE ORSUBMITTED CONTENT, ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANYAND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN, ANY BUGS,VIRUSES, TROJAN HORSES, OR THE LIKE WHICH MAY BE TRANSMITTED TO OR THROUGH THE WEBSITE BYANY THIRD PARTY, ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM THE WEBSITE, ANYDEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT OF ANY THIRD PARTY OR SERVICE USER OR SERVICEPROVIDER, OR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY DATA,
                        CONTENT, INFORMATION, MATERIALS, SUBSTANCE OF THE WEBSITE OR SUBMITTED CONTENT POSTED,EMAILED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE WEBSITE. SERVIZEE DOES NOTENDORSE, WARRANT, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICEADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE WEBSITE OR ANY HYPERLINKED SITE ORFEATURED IN ANY BANNER OR OTHER ADVERTISEMENT. SERVIZEE WILL NOT BE A PARTY TO OR IN ANYWAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND ANY PARTY, INCLUDINGTHIRD PARTY SERVICE PROFESSIONALS OF PRODUCTS OR SERVICES. AS WITH THE USE OF ANYPRODUCT OR SERVICE, AND THE PUBLISHING OR POSTING OF ANY MATERIAL THROUGH ANY MEDIUM ORIN ANY ENVIRONMENT, YOU SHOULD USE YOUR BEST JUDGMENT AND EXERCISE CAUTION WHERE
                        APPROPRIATE.
                        <br />
                        <br />
                        <b><u>LIABILITIES </u></b>
                        <br />
                        <br />
                        IN NO EVENT SHALL SERVIZEE, OR ITS RESPECTIVE OFFICERS, MANAGERS, MEMBERS, DIRECTORS,EMPLOYEES, SUCCESSORS, ASSIGNS, SUBSIDIARIES, AFFILIATES, SERVICE PROFESSIONALS,SUPPLIERS, ATTORNEYS OR AGENTS, BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL,SPECIAL, PUNITIVE, CONSEQUENTIAL OR EXEMPLARY DAMAGES (INCLUDING BUT NOT LIMITED TO LOSSOF BUSINES, REVENUE, PROFITS, USE, DATA OR OTHER ECONOMIC ADVANTAGE) WHATSOEVER
                        RESULTING FROM ANY (I) ACCESS TO OR USE OF THE WEBSITE OR ANY SERVICES OFFERED BY ANYSERVICE PROFESSIONALS VIA THE WEBSITE, INCLUDING SERVICES PROVIDED PURSUANT TO ANAGREEMENT FORMED INDEPENDENTLY OF THE WEBSITE, WHETHER OR NOT AN AGREEMENT FORSERVICE FORMED VIA THE WEBSITE IS IN EFFECT; (II) ERRORS, MISTAKES, OR INACCURACIES OF DATA,MARKS, CONTENT, INFORMATION, MATERIALS OR SUBSTANCE OF THE WEBSITE OR SUBMITTED CONTENT;
                        (III) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONALINFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN; (IV) ANY BUGS, VIRUSES, TROJANHORSES, OR THE LIKE WHICH MAY BE TRANSMITTED TO OR THROUGH THE WEBSITE BY ANY THIRD PARTY;(V) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM THE WEBSITE; (VI) ANY ERRORSOR OMISSIONS IN ANY DATA, CONTENT, INFORMATION, MATERIALS OR SUBSTANCE OF THE WEBSITE ORSUBMITTED CONTENT; (VII) ANY FAILED  NEGOTIATIONS FOR A SERVICE, ANY DISPUTES THAT ARISE DURINGOR AFTER THE NEGOTIATION OF A SERVICE OR THE FORMATION OF A CONTRACT FOR A SERVICE, OR ANYOTHER DISPUTE THAT ARISES BETWEEN USERS OF THE WEBSITE; (VIII) ANY DEFAMATORY, OFFENSIVE, ORILLEGAL CONDUCT OF ANY THIRD PARTY OR SERVICE USER OR SERVICE PROFESSIONAL; OR (IX) ANY USEOF ANY DATA, MARKS, CONTENT, INFORMATION, MATERIALS OR SUBSTANCE OF THE WEBSITE ORSUBMITTED CONTENT POSTED, EMAILED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE ON ORTHROUGH THE WEBSITE, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE),OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT SERVIZEE IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE FOREGOING LIMITATION OF LIABILITY SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW IN THE APPLICABLE JURISDICTION.2. IN NO EVENT SHALL THE TOTAL, AGGREGATE LIABILITY OF SERVIZEE, OR ANY OF THE ABOVEREFERENCEDRESPECTIVE PARTIES, ARISING FROM OR RELATING TO THE WEBSITE, AND/OR SUBMITTED
                        CONTENT EXCEED THE TOTAL AMOUNT OF FEES ACTUALLY PAID TO SERVIZEE BY YOU HEREUNDER.YOU HEREBY ACKNOWLEDGE AND AGREE THAT SERVIZEE SHALL NOT BE LIABLE FOR SUBMITTEDCONTENT OR THE DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT OF ANY THIRD PARTY OR SERVICEUSER OR SERVICE PROVIDER AND THAT THE RISK OF HARM OR DAMAGE FROM THE FOREGOING RESTSENTIRELY WITH YOU. YOU FURTHER ACKNOWLEDGE AND AGREE THAT SERVIZEE SHALL NOT BE LIABLEFOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, CONSEQUENTIAL OR EXEMPLARY DAMAGES(INCLUDING BUT NOT LIMITED TO LOSS OF BUSINESS, REVENUE, PROFITS, USE, DATA OR OTHERECONOMIC ADVANTAGE) WHATSOEVER RESULTING FROM OR RELATING TO ANY CONTRACT BETWEEN
                        WEBSITE USERS ENTERED INTO INDEPENDENTLY OF THE WEBSITE.THE WEBSITE MAY CONTAIN LINKS TO THIRD-PARTY WEBSITES THAT ARE NOT OWNED OR CONTROLLED
                        <br />
                        <u>BY SERVIZEE. SERVIZEE DOES NOT HAVE ANY CONTROL OVER, AND ASSUMES NO RESPONSIBILITY FOR, THE CONTENT, PRIVACY POLICIES, OR PRACTICES OF ANY THIRD-PARTY WEBSITES. IN ADDITION, SERVIZEE WILL NOT AND CANNOT CENSOR OR EDIT THE CONTENT OF ANY THIRD-PARTY SITE. BY USING THE WEBSITE, YOU EXPRESSLY RELIEVE SERVIZEE  FROM ANY AND ALL LIABILITY ARISING FROM YOUR USE OF ANY THIRDPARTY WEBSITE. ACCORDINGLY, PLEASE BE ADVISED TO READ THE TERMS AND CONDITIONS AND PRIVACY POLICY OF EACH THIRD-PARTY WEBSITE THAT YOU VISIT, INCLUDING THOSE DIRECTED BY THE LINKS CONTAINED ON THE WEBSITE.</u>
                        <br />
                        <br />
                        <br />
                        <br />
                        <b><u>INDEMNIFICATION AND RELEASE</u></b>
                        <br />
                        <br />
                        YOU AGREE TO DEFEND, INDEMNIFY AND HOLD HARMLESS SERVIZEE, AND ITS OFFICERS, MANAGERS, MEMBERS, DIRECTORS, EMPLOYEES, SUCCESSORS, ASSIGNS, SUBSIDIARIES, AFFILIATES, SERVICE PROFESSIONALS, SUPPLIERS, AND AGENTS, FROM AND AGAINST ANY AND ALL CLAIMS, DAMAGES, OBLIGATIONS, LOSSES, LIABILITIES, COSTS OR DEBT, AND EXPENSES (INCLUDING BUT NOT LIMITED TO ATTORNEYS' FEES) ARISING FROM YOUR USE OF, ACCESS TO, AND PARTICIPATION IN THE WEBSITE; YOURVIOLATION OF ANY PROVISION OF THE TERMS OF USE, INCLUDING THE PRIVACY POLICY; YOUR VIOLATION OF ANY THIRD-PARTY RIGHT, INCLUDING WITHOUT LIMITATION ANY COPYRIGHT, PROPERTY, PROPRIETARY, INTELLECTUAL PROPERTY, OR PRIVACY RIGHT; OR ANY CLAIM THAT YOUR SUBMITTED CONTENT CAUSED DAMAGE TO A THIRD PARTY. THIS DEFENSE AND INDEMNIFICATION OBLIGATION WILL SURVIVE THESE TERMS OF SERVICE AND YOUR USE OF THE WEBSITE.
                        IF YOU HAVE A DISPUTE WITH ONE OR MORE WEBSITE USERS, YOU FOREVER RELEASE SERVIZEE (AND ITS OFFICERS, MANAGERS, MEMBERS, DIRECTORS, EMPLOYEES, SUCCESSORS, ASSIGNS, SUBSIDIARIES, AFFILIATES, SERVICE PROFESSIONALS, SUPPLIERS, AGENTS, SUBSIDIARIES, AND EMPLOYEES) FROM ANY AND ALL CLAIMS, DEMANDS AND DAMAGES (ACTUAL AND CONSEQUENTIAL) OF EVERY KIND AND NATURE, KNOWN AND UNKNOWN, ARISING OUT OF OR IN ANY WAY CONNECTED WITH YOUR USE OF THE WEBSITE AND/OR ANY SUBMITTED CONTENT.
                        THE TERMS OF USE, AND ANY RIGHTS AND LICENSES GRANTED HEREUNDER, MAY NOT BE TRANSFERRED OR ASSIGNED BY YOU, BUT MAY BE ASSIGNED BY SERVIZEE WITHOUT RESTRICTION.
                        <br />
                        <br />
                        <b><u>GENERAL INFORMATION </u></b>
                        <br />
                        <br />
                        The Terms of Use, together with the Privacy Policy and any other legal notices or Additional Policies published byServizee on the Website, shall constitute the entire agreement between you and Servizee concerning theWebsite. If any provision of the Terms of Use is deemed invalid by a court of competent jurisdiction, the invalidity ofsuch provision shall not affect the validity of the remaining provisions of the Terms of Use, which shall remain in fullforce and effect.
                        <br />
                        No waiver of any provision of this these Terms of Use shall be deemed a further or continuing waiver of such term orany other term, and Servizee’s failure to assert any right or provision under these Terms of Use shall not constitute
                        <br />
                        <br />
                        <b><u>The section headings in the Terms of Use are for convenience only and have no legal or contractual effect.</u></b>
                      </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid countspace" id="contactus">
    <div class="container">
        <div class="row">
            <div class="col-md-12 contact-div">
                <!--<h2 class="text-center heading-text">Contact us</h2>-->
                <div class="col-sm-6 contact-div-left">
                    <h4>About</h4>
                    <ul class="footer-menu">

                        <li><a href="/Home/Services">Services</a></li>
                        <li><a href="/Home/FAQ">FAQs</a></li>
                        <li><a href="/Home/Policies">Privacy Policy</a></li>
                        <li><a href="/Home/Terms">Terms of Use</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 contact-div-right">
                    <h4>Contact Us</h4>
                    <p><i class="fa fa-map-marker"></i>&nbsp; 110 Onam Plaza, Industry House, AB Road (Indore) </p>
                    <p><i class="fa fa-phone"></i>&nbsp; +91-756-666-6022 </p>
                    <p><i class="fa fa-envelope"></i>&nbsp; Info@servizee.com </p>
                </div>
            </div>
        </div>
    </div>
</div>